html{
    background-color: #333333;
}
body{
    text-align: center;
    background-color: #1A1A1A;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0px;
    padding-top: 0.1%;
    margin-bottom: 0px;
    padding-bottom: 0.1%;
}