@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
html{
    font-family: 'Handlee', cursive, bold;
    background-color: #262626;
    color: #FECD66;
}
b{
    font-size: 1.2em;
}